@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
:root {

  --clr-berry: hsl(334, 37%, 45%);
  --clr-berry: hsl(334, 37%, 25%);

  --clr-dark-ice: hsl(278,9%,10%);
  --clr-black-ice: hsl(278, 9%, 25%);
} */