/* calendar.css */

:root:not(.dark) .rbc-calendar * {
  border-color: hsl(355, 2%, 30%) !important;
}

.rbc-toolbar-label {
  color: black !important;
  font-weight: 600;
  font-size: 2rem;
}

.dark .rbc-toolbar-label {
  color: #d7d4dd !important;
}

.dark .rbc-calendar {
  color: #d7d4dd;
}

.dark .rbc-btn-group button {
    color: #d7d4dd;
}

.dark .rbc-btn-group button.rbc-active {
  color: hsl(355, 2%, 14%) !important; 
}

.dark .rbc-btn-group button:hover {
    color: hsl(355, 2%, 14%);
}

.dark .rbc-today {
    background-color: hsl(355, 2%, 30%) !important;
}

.rbc-today {
    background-color: hsl(355, 2%, 82%) !important;
}

/* off range dates */
.dark .rbc-off-range {
    color: hsl(355, 2%, 62%)
}

.dark .rbc-off-range-bg {
  background-color: hsl(355, 2%, 5%) !important;
}

.dark .rbc-toolbar .rbc-btn-group:first-child button {
  color: #d7d4dd;
}

/* left side toolbar buttons */
.dark .rbc-toolbar .rbc-btn-group:first-child button:hover,
.dark .rbc-toolbar .rbc-btn-group:first-child button:focus,
.dark .rbc-toolbar .rbc-btn-group:first-child button:active {
  color: hsl(355, 2%, 5%)
}

/* event style */
.dark .rbc-event {
  background-color: hsl(202, 74%, 40%) !important; 
  color: white !important; 
  font-weight: 500;
  letter-spacing: 0.04em;
}

.rbc-event {
  background-color: hsl(202, 74%, 40%) !important; 
  color: white !important; 
  font-weight: 500;
  letter-spacing: 0.04em;
}